@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&display=swap');
@mixin button {
  height: 60px;
  background-color: #5474fd;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
  padding: 0;
  width: 226px;
  letter-spacing: 1px;
  font: 400 14px 'Aleo', sans-serif;
  &:focus {
    outline: none;
    box-shadow: 2px 2px 2px rgb(33, 44, 67);
    opacity: 0.9;
  }
  &:hover {
    background-color: darken(#5474fd, 15%);
  }
  &:active {
    background-color: darken(#5474fd, 25%);
  }
}

.cls-1 {
  fill: #fff;
  fill-rule: evenodd;
}
.cls-2 {
  fill: #ff6363;
  fill-rule: evenodd;
}
.cls-3 {
  fill: #5474fd;
  fill-rule: evenodd;
}
.cls-4 {
  fill: #333;
}
.cls-5 {
  fill: #00a2ff;
  fill-rule: evenodd;
}

body {
  margin: 0;
}
h1 {
  font: 700 48px 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
h2 {
  font: 400 36px 'Aleo', sans-serif;
  margin: 0;
}
p {
  font: 300 16px "Josefin Sans", sans-serif;
  line-height: 1.6;
}
a:focus {
  outline: none;
  opacity: 0.8;
}

.s1 {
   color: #fff;
   background: #0460a6 url("image/bg1.jpg") no-repeat;
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   .inner {
     display: flex;
     flex-direction: column;
     position: relative;
     h1 {
       align-self: center;
       margin-top: 244px;
       margin-bottom: 0;
       letter-spacing: 3px;
     }
     h5 {
       align-self: center;
       font: 300 22px 'Josefin Sans', sans-serif;
       letter-spacing: 5.8px;
       margin-top: 4px;
       margin-bottom: 48px;
     }
     form {
       align-self: center;
       input {
         color: grey;
         font: 300 14px 'Josefin Sans', sans-serif;
         letter-spacing: 2.3px;
         text-align: center;
         width: 500px;
         height: 60px;
         background-color: #fff;
         border: 1px solid #fff;
         padding: 0;
         box-sizing: border-box;
         float: left;
         &:focus {
           outline: none;
           opacity: 0.8;
         }
       }
       button {
         @include button;
         width: 150px;
         background: #5474fd url("image/search.png") no-repeat 116px 18px;
       }
       &:before,
       &:after {
         clear: both;
       }
     }
     a {
       font: 300 14px 'Josefin Sans', sans-serif;
       align-self: center;
       color: white;
       text-decoration: none;
       letter-spacing: 2px;
       margin-top: 8px;
       position: absolute;
       bottom: 100px;
       &:hover {
         color: #a9c0ff;
       }
       svg {
         width: 14px;
         height: 8px;
         display: block;
         margin: 12px auto 0;
       }
     }
   }
   header {
     height: 80px;
     background-color: #5474fd;
     width: 100%;
     position: absolute;
     bottom: 0;
     a {
       text-transform: uppercase;
       font: 400 24px 'Josefin Sans', sans-serif;
       color: white;
       text-decoration: none;
       &:hover {
         color: #ff6363;
       }
     }
     nav a {
       font: 400 14px 'Aleo', sans-serif;
       margin-left: 40px;
       letter-spacing: 0;
       &:hover {
         color: #ff6363;
       }
     }
     div {
       max-width: 1116px;
       display: flex;
       margin: 0 auto;
       justify-content: space-between;
       align-items: center;
       height: 100%;
     }
   }
 }
.s2 {
  height: 688px;
  background: #323131 url("image/bg9.jpg")no-repeat;
  background-size: cover;
  position: relative;

  .inner {
    width: 1110px;
    margin: 0 auto;
    color: white;
    padding-top: 120px;
    div:first-of-type {
      float: left;
      max-width: 532px;
      h2 {
        margin-top: 80px;
        margin-bottom: 54px;
      }
      p {
        letter-spacing: 1px;
        margin-bottom: 28px;
      }
    }
    div:last-of-type {
      float: right;
      min-width: 476px;
      display: flex;
      flex-direction: column;
      img:first-of-type {
        align-self: flex-start;
      }
      img:last-of-type {
        align-self: flex-end;
        padding-top: 5px;
      }
      }
    &:before,
    &:after {
      clear: both;
    }
    }
    #Explore {
      @include button;
      border: none;
      margin-top: 14px;
      letter-spacing: 2.5px;
  }
}
.s3 {
  height: 334px;
  background: #323131  url("image/Shape1.png") no-repeat center 40px ;
  width: 100%;
  color: white;
  div {
    width: 1030px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    div {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 160px;
      margin: 0;
      align-items: center;
      padding-top: 0;
      &:nth-child(2) {
        margin: 0 120px;
      }
      .ellipse {
        width: 96px;
        height: 96px;
        background: #323131;
        border-radius: 50%;
        position: relative;
      }
    }
  }
}
.s4 {
  font: 400 20px 'Josefin Sans', sans-serif;
  height: 700px;
  background: #323131 url("image/bg3.jpg")no-repeat;
  background-size: cover;
  color: white;
  .inner {
    width: 1110px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    .wide {
      box-sizing: border-box;
      width: 540px;
      height: 370px;
      padding: 30px;
      background: rgba(35, 35, 35, 0.9);
      position: absolute;
      top: 230px;
      h3 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: -3px;
        margin-bottom: 21px;
      }
      h4 {
        margin-top: 19px;
        font-weight: 300;
        letter-spacing: .75px;
      }
      p {
        letter-spacing: -.6px;
        margin-bottom: 42px;
      }
      button {
        @include button;
        border: none;
        font-size: 16px;
        letter-spacing: 1.5px;
      }
    }
  }
}
.s5 {
  font: 400 20px 'Josefin Sans', sans-serif;
  height: 700px;
  background: #323131 url("image/bg4.jpg")no-repeat;
  background-size: cover;
  color: white;
  .inner {
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .wide {
      width: 540px;
      height: 370px;
      padding: 30px;
      background: rgba(35, 35, 35, 0.9);
      box-sizing: border-box;
      margin-bottom: 100px;
      h3 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: -3px;
        margin-bottom: 21px;
      }
      h4 {
        font-weight: 300;
        letter-spacing: .75px;
        margin-top: 19px;
      }
      p {
        letter-spacing: -.6px;
        margin-bottom: 42px;
      }
      button {
        @include button;
        border: none;
        font-size: 16px;
        letter-spacing: 1.5px;
      }
    }
  }
}
.s6 {
  font: 300 15px 'Josefin Sans', sans-serif;
  height: 730px;
  background: #323131 url("image/bg5.jpg")no-repeat;
  background-size: cover;
  color: white;
  .inner {
    max-width: 1110px;
    height: 640px;
    margin: 0 auto;
    padding-top: 90px;
    h2 {
      text-align: center;
      font: 400 36px 'Aleo', sans-serif;
      margin-top: 26px;
      margin-bottom: 90px;
      letter-spacing: 0.4px;
    }
    h3 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 0;
    }
    div {
      height: 284px;
      .float {
        height: 284px;
        box-sizing: border-box;
        padding-left: 60px;
        float: right;
        width: calc(100% - 445px);
        background: #333333;
      }
      img {
        float: left;
      }
      p {
        width: 558px;
        line-height: 1.6;
        letter-spacing: -0.55px;
      }
    }
    div:before,
    div:after {
      content: '';
      clear: both;
    }
  }
  svg {
    height: 36px;
    width: 20px;
    margin: 0 0 4px 0;
    color: #fff;
    &.blue {
      color: #5474fd;
    }
  }
}
footer.s7 {
  height: 270px;
  background-color: #232323;
  .inner {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin-top: 30px;
      font-size: 24px;
      letter-spacing: 2px;
      margin-bottom: 8px;
    }
    p {
      margin-top: 0;
      margin-bottom: 16px;
      letter-spacing: 1px;
    }
    #icon {
      height: 50px;
      a {
        svg {
        height: 28px;
        width: 18px;
        margin: 0 7px 0;
        &.blue {
          color: #5474fd;
        }
      }
        &:focus {
         outline: none;
         opacity: 0.6;
       }
        &:hover svg {
            color: #ff6363;
        }
      }
    }
  }
}
