@import url("https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap");
@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:focus {
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
}

.section1 {
  width: 100%;
  height: 100vh;
}
.section1.inner-portfolio {
  height: 350px;
}
.section1 .social {
  background: #3c2528;
  height: 48px;
}
.section1 .social .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
}
.section1 .social .content a {
  align-items: center;
  display: inline-block;
}
.section1 .social .content a i {
  display: inline-block;
  color: #fafafa;
  font-size: 18px;
  margin-left: 20px;
}
.section1 .container {
  background: #fff;
  height: 56px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}
.section1 .container .inner {
  max-width: 940px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.section1 .container .inner a {
  margin-left: 0;
}
.section1 .container .menu .hamburger {
  display: none;
  margin-left: 50px;
  width: 30px;
  height: 3px;
  background: #333333;
  vertical-align: middle;
}
@media screen and (max-width: 740px) {
  .section1 .container .menu .hamburger {
    z-index: 3;
    position: relative;
    display: inline-block;
  }
}
.section1 .container .menu .hamburger:before,
.section1 .container .menu .hamburger:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background: #333333;
  height: 3px;
  left: 0;
}
.section1 .container .menu .hamburger:before {
  top: -10px;
}
.section1 .container .menu .hamburger:after {
  bottom: -10px;
}
.section1 .container .menu .hamburger.active {
  order: 1;
  background: none;
}
.section1 .container .menu .hamburger.active:before {
  transform: rotate(45deg);
  transform-origin: center;
  top: 0;
}
.section1 .container .menu .hamburger.active:after {
  transform: rotate(-45deg);
  transform-origin: center;
  bottom: 0;
}
.section1 .container .menu nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
  margin-left: 30px;
  font: 600 12px "HelveticaNeueCyr-Medium";
}
.section1 .container .menu nav a:hover {
  color: #ea5a4b;
}
@media screen and (max-width: 740px) {
  .section1 .container .menu nav {
    display: none;
    width: 100%;
    order: 4;
    padding-right: 20px;
    margin-right: 26px;
    margin-top: 60px;
    background: rgba(182, 182, 182, 0.7);
    z-index: 2;
    position: relative;
  }
  .section1 .container .menu nav a {
    display: block;
    text-align: right;
    padding: 5px 0;
  }
  .section1 .container .menu nav a:hover {
    color: #ea5a4b;
  }
}
.section1 .s1-1 {
  width: 100%;
  background: #4c4c4c url("../images/bg2.jpg") top center;
  height: 450px;
  background-size: cover;
}
.section1 .s1-1 .inner {
  margin: 0 auto;
  height: 554px;
  max-width: 1020px;
}
.section1 .s1-1 .inner .slider {
  position: relative;
}
.section1 .s1-1 .inner .slider .slider-text {
  font: 700 24px "Bitter", serif;
  max-width: 370px;
  line-height: 30px;
  position: absolute;
  left: 36px;
  top: 96px;
  background: rgba(21, 21, 21, 0.8);
  color: white;
  margin: 0;
  padding: 6px 14px;
}
.section1 .s1-1 .inner .slider .slider-text:nth-of-type(2) {
  top: 130px;
  margin-top: 10px;
}
.section1 .s1-1 .inner .slider .slider-text:nth-of-type(3) {
  top: 174px;
  margin-top: 10px;
}
.section1 .s1-1 .inner .slider .slick-slider {
  width: 100%;
  margin: 0 auto;
}
.section1 .s1-1 .inner .slider .slick-slider .slick-slide {
  position: relative;
}
.section1 .s1-1 .inner .slider .slick-arrow {
  font-size: 0;
  width: 30px;
  height: 30px;
  background: #ea5a4b;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 55%;
  margin-top: -10px;
  opacity: 0.8;
  z-index: 1;
  padding: 0;
}
.section1 .s1-1 .inner .slider .slick-arrow:hover {
  opacity: 1;
}
.section1 .s1-1 .inner .slider .slick-arrow:before {
  content: "";
  min-height: 10px;
  min-width: 10px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  display: block;
  box-sizing: border-box;
  margin: auto;
  transform-origin: center;
}
.section1 .s1-1 .inner .slider .slick-arrow.slick-prev {
  left: 36px;
  padding-left: 4px;
}
.section1 .s1-1 .inner .slider .slick-arrow.slick-prev:before {
  transform: rotate(-135deg);
}
.section1 .s1-1 .inner .slider .slick-arrow.slick-next {
  left: 70px;
  padding-right: 4px;
}
.section1 .s1-1 .inner .slider .slick-arrow.slick-next:before {
  transform: rotate(45deg);
}
.section1 .s1-1 .inner .slider .slick-dots {
  padding: 0;
  margin: 0;
  text-align: center;
}
.section1 .s1-1 .inner .slider .slick-dots li {
  display: inline-block;
}
.section1 .s1-1 .inner .slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  border: none;
  background: #333;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
.section1 .s1-1 .inner .slider .slick-dots li button:hover {
  background: #666;
}
.section1 .s1-1 .inner .slider .slick-dots li.slick-active button {
  background: #000;
}
.section1 .s1-1 .inner .slider .slider-2 {
  max-width: 940px;
  height: 132px;
  background: #26292c;
  display: flex;
  justify-content: space-around;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 19px;
  bottom: 28px;
}
.section1 .s1-1 .inner .slider .slider-2 .slider-nav {
  height: 76px;
  margin-right: 14px;
  background: #26292c;
  overflow: hidden;
  box-sizing: border-box;
}
.section1 .s1-1 .inner .slider .slider-2 .slider-nav:hover {
  border: 2px solid #f29c84;
}
.section1 .s1-1 .inner .slider .slider-2 .slider-nav.slick-slide {
  opacity: 1;
}
.section1 .s1-1 .inner .slider .slider-2 .slider-nav.slick-current {
  display: block;
  max-height: 76px;
  max-width: 76px;
  box-sizing: border-box;
  background-size: cover;
  border: 2px solid #ea5a4b;
}
.section1 .s1-1 .inner .slider .slider-2 img {
  display: block;
  max-height: 100%;
  transform: translate(-30%, 0);
  background-size: cover;
}
.section1 .s1-1 .inner .slider .slick-slide {
  text-align: center;
}
.section1 .s1-1 .inner .slide-overlay {
  position: absolute;
  background: rgba(0, 255, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.slick-slide:hover .section1 .s1-1 .inner .slide-overlay {
  display: block;
}

.section2 {
  width: 100%;
  height: 255px;
  color: #252525;
}
.section2 .inner {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  max-width: 940px;
  height: 255px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 32px 0;
}
.section2 .inner .part3 {
  width: 274px;
  padding: 0 10px 0 0;
}
.section2 .inner .part3 div {
  display: flex;
  align-items: center;
}
.section2 .inner .part3 div img {
  width: 30px;
  height: 30px;
}
.section2 .inner .part3 div h4 {
  font: 600 18px "Bitter", serif;
  padding-left: 20px;
}
.section2 .inner .part3 p {
  height: 130px;
  color: #5c5c5c;
  font: 400 14px "HelveticaNeueCyr-Light";
  line-height: 16px;
  margin-top: 18px;
  overflow: auto;
}

.impress {
  margin: 0 auto;
  padding: 20px 0 0;
  max-width: 940px;
  text-align: center;
  font: 600 18px "Bitter", serif;
  height: 90px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
}
.impress strong {
  display: inline-block;
  background: #ea5a4b;
  padding: 6px 16px;
  color: white;
  font: 700 18px "Bitter", serif;
  margin: 0 12px;
}

.section3 {
  max-width: 940px;
  min-height: 340px;
  margin: 0 auto -42px;
  padding-top: 30px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  background: #fff;
  /* ---- button-group ---- */
  /* ---- isotope ---- */
  /* clear fix */
  /* ---- .element-item ---- */
}
.section3 .button {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 10px;
  margin-left: 0;
  background: #fff;
  border: none;
  border-radius: 7px;
  color: #222;
  font: 400 14px "Bitter", serif;
  text-shadow: 0 1px white;
  cursor: pointer;
}
.section3 .button:hover {
  background-color: #ea7b6d;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
}
.section3 .button:active,
.section3 .button.is-checked {
  background-color: #ea5a4b;
}
.section3 .button.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}
.section3 .button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}
.section3 .button-group:after {
  content: "";
  display: block;
  clear: both;
}
.section3 .button-group .button {
  float: left;
  border-radius: 0;
  margin-right: 1px;
}
.section3 .button-group .button:first-of-type {
  margin-left: 32px;
}
.section3 .grid {
  width: 100%;
  padding: 0 21px 22px;
  background: #fff;
}
.section3 .grid:after {
  content: "";
  display: block;
  clear: both;
}
.section3 .element-item {
  position: relative;
  float: left;
  width: 204px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.section3 .element-item > * {
  margin: 0;
  padding: 0;
}
.section3 .element-item .name {
  margin-top: 14px;
  color: white;
  text-transform: none;
  letter-spacing: 0;
  font: 700 14px "Bitter", serif;
  margin-left: 12px;
  line-height: 8px;
}
.section3 a {
  text-decoration: none;
}
.section3 .element-item {
  background: #ccc;
}
.section3 .element-item:nth-of-type(1) {
  background: url("../images/massondry-img-1.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(2) {
  background: url("../images/massondry-img-2.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(3) {
  background: url("../images/massondry-img-3.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(4) {
  background: url("../images/massondry-img-4.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(5) {
  background: url("../images/massondry-img-5.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(6) {
  background: url("../images/massondry-img-6.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(7) {
  background: url("../images/massondry-img-7.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(8) {
  background: url("../images/massondry-img-8.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(9) {
  background: url("../images/massondry-img-9.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(10) {
  background: url("../images/massondry-img-10.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(11) {
  background: url("../images/massondry-img-11.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(12) {
  background: url("../images/massondry-img-12.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(13) {
  background: url("../images/massondry-img-13.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(14) {
  background: url("../images/massondry-img-14.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(15) {
  background: url("../images/massondry-img-15.jpg") center;
  background-size: cover;
}
.section3 .element-item:nth-of-type(16) {
  background: url("../images/massondry-img-16.jpg") center;
  background-size: cover;
}

.slide-overlay {
  position: absolute;
  background: rgba(24, 24, 24, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  display: none;
}
.element-item:hover .slide-overlay {
  display: block;
}

.portfolio2 {
  max-width: 940px;
  margin: 0 auto -42px;
  padding-top: 30px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  background: #fff;
  min-height: 620px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  /* ---- button-group ---- */
  /* ---- isotope ---- */
  /* clear fix */
  /* ---- .element-item ---- */
}
.portfolio2 .button {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 10px;
  margin-left: 0;
  background: #fff;
  border: none;
  border-radius: 7px;
  color: #222;
  font: 400 14px "Bitter", serif;
  text-shadow: 0 1px white;
  cursor: pointer;
}
.portfolio2 .button:hover {
  background-color: #ea7b6d;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
}
.portfolio2 .button:active,
.portfolio2 .button.is-checked {
  background-color: #ea5a4b;
}
.portfolio2 .button.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}
.portfolio2 .button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}
.portfolio2 .button-group:after {
  content: "";
  display: block;
  clear: both;
}
.portfolio2 .button-group .button {
  float: left;
  border-radius: 0;
  margin-right: 1px;
}
.portfolio2 .button-group .button:first-of-type {
  margin-left: 32px;
}
.portfolio2 .grid {
  width: 100%;
  padding: 0 21px 22px;
  background: #fff;
}
.portfolio2 .grid:after {
  content: "";
  display: block;
  clear: both;
}
.portfolio2 .element-item {
  position: relative;
  float: left;
  width: 204px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  background: #888;
  color: #262524;
}
.portfolio2 .element-item > * {
  margin: 0;
  padding: 0;
}
.portfolio2 .element-item .name {
  color: white;
  text-transform: none;
  letter-spacing: 0;
  font: 700 14px "Bitter", serif;
  margin-left: 12px;
  margin-top: 14px;
  line-height: 8px;
}
.portfolio2 a {
  text-decoration: none;
}
.portfolio2 .element-item {
  background: #ccc;
}
.portfolio2 .element-item:nth-of-type(1) {
  background: url("../images/massondry-img-1.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(2) {
  background: url("../images/massondry-img-2.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(3) {
  background: url("../images/massondry-img-3.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(4) {
  background: url("../images/massondry-img-4.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(5) {
  background: url("../images/massondry-img-5.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(6) {
  background: url("../images/massondry-img-6.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(7) {
  background: url("../images/massondry-img-7.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(8) {
  background: url("../images/massondry-img-8.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(9) {
  background: url("../images/massondry-img-9.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(10) {
  background: url("../images/massondry-img-10.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(11) {
  background: url("../images/massondry-img-11.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(12) {
  background: url("../images/massondry-img-12.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(13) {
  background: url("../images/massondry-img-13.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(14) {
  background: url("../images/massondry-img-14.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(15) {
  background: url("../images/massondry-img-15.jpg") center;
  background-size: cover;
}
.portfolio2 .element-item:nth-of-type(16) {
  background: url("../images/massondry-img-16.jpg") center;
  background-size: cover;
}

.section5 {
  max-width: 940px;
  margin: 0 auto -42px;
  padding-top: 30px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  background: #fff;
  height: 840px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.section5 .s4 {
  max-width: 940px;
  height: 840px;
  margin: -10px auto 0;
  background: #fff;
}
.section5 .s4 .map {
  width: 100%;
  height: 400px;
  padding: 0 20px;
}
.section5 .s4 .map iframe {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.section5 .s4 .contact {
  max-width: 940px;
  margin: 0 auto;
  height: 500px;
  background: #fff;
}
.section5 .s4 .contact .contact-data {
  height: 420px;
  background: #fff;
  font: 400 14px "HelveticaNeueCyr-Light";
  padding: 30px 40px 25px 21px;
  color: #252525;
}
.section5 .s4 .contact .contact-data p {
  line-height: 16px;
  padding-bottom: 20px;
}
.section5 .s4 .contact .contact-data p.reddish {
  color: #ea5a4b;
}
.section5 .s4 .contact .contact-form {
  height: 420px;
  background: #fff;
}
.section5 .s4 .contact .contact-form form {
  padding: 35px 11px 0 0;
  text-align: right;
  justify-content: space-between;
}
.section5 .s4 .contact .contact-form form .col-6,
.section5 .s4 .contact .contact-form form .col-12 {
  padding-left: 9px;
  padding-right: 9px;
}
.section5 .s4 .contact .contact-form form .input_1 {
  display: inline-block;
  height: 36px;
  width: 100%;
  border: solid 1px #252525;
  position: relative;
  margin-bottom: 18px;
}
.section5 .s4 .contact .contact-form form .input_1:hover {
  border-color: #ea5a4b;
  color: #ea5a4b;
}
.section5 .s4 .contact .contact-form form .input_1 input[type=text],
.section5 .s4 .contact .contact-form form .input_1 input[type=email],
.section5 .s4 .contact .contact-form form .input_1 input[type=url] {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 16px;
  float: left;
  position: relative;
  background-color: transparent;
  z-index: 2;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  color: #252525;
}
.section5 .s4 .contact .contact-form form .input_1 span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  color: #252525;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.section5 .s4 .contact .contact-form form .textarea_1 {
  height: 200px;
  width: 100%;
  border: solid 1px #252525;
  position: relative;
  float: right;
}
.section5 .s4 .contact .contact-form form .textarea_1:hover {
  border-color: #ea5a4b;
}
.section5 .s4 .contact .contact-form form .textarea_1:hover textarea {
  color: #ea5a4b;
}
.section5 .s4 .contact .contact-form form .textarea_1 textarea {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 30px 20px 0;
  background-color: transparent;
  float: left;
  z-index: 2;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  color: #252525;
}
.section5 .s4 .contact .contact-form form .textarea_1 span {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translateY(-50%);
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  color: #252525;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.section5 .s4 .contact .contact-form form button {
  display: block;
  float: left;
  width: 80px;
  background: #ea5a4b;
  color: white;
  border-radius: 0;
  margin-left: 8px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 18px;
  border: none;
  padding: 6px 14px;
}
.section5 .s4 .contact .contact-form form button:hover {
  border: 1px solid #ea5a4b;
  color: #ea5a4b;
  background: #fff;
}
.section5 .s4 .contact .contact-form form button:active {
  background: #ea8c7f;
}
.section5 .s4 .contact .contact-form form button:focus {
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
}
.section5 .s4 .contact .contact-form form .input_1:focus-within span,
.section5 .s4 .contact .contact-form form .textarea_1:focus-within span {
  color: #ea5a4b;
  font-size: 10px;
  top: 0;
  left: 5px;
  background-color: #fff;
  padding: 5px;
}
.section5 .s4 .contact .contact-form .input_1 > span.active, .section5 .s4 .contact .contact-form .textarea_1 > span.active {
  color: #ea5a4b;
  font-size: 10px;
  top: 0;
  left: 5px;
  background-color: #fff;
  padding: 5px;
}

footer {
  width: 100%;
  background: #252525;
}
footer .red {
  width: 100%;
  height: 10px;
  background: #ea5a4b;
}
footer .footer-info {
  padding-top: 60px;
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
}
footer .footer-info div {
  max-width: 300px;
  height: 100%;
  overflow: auto;
}
footer .footer-info div p {
  font: 700 14px "HelveticaNeueCyr-Bold";
  line-height: 18px;
  color: #adadad;
  padding-right: 20px;
  height: 100%;
  overflow: auto;
}
footer .footer-info div p:first-of-type {
  padding-top: 10px;
}
footer .footer-info div p:last-of-type {
  padding-bottom: 30px;
}
footer .footer-info div a {
  display: block;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #3b3b3b;
  font: 700 14px "Bitter", serif;
  color: #adadad;
  padding: 14px 20px 14px 0;
}
footer .footer-info div a:last-of-type {
  border: none;
}
footer .footer-info div a:hover {
  color: white;
}
footer .footer-info div h3 {
  font: 700 14px "HelveticaNeueCyr-Bold";
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}
footer .footer-info div.socials h3 {
  padding-left: 5px;
}
footer .footer-info div .social-media {
  padding-top: 16px;
}
footer .footer-info div .social-media a {
  display: inline-block;
  border-radius: 3px;
}
footer .footer-info div .social-media a:not(.svg-sprite) {
  width: 30px;
  height: 30px;
  background: url("../images/css_sprites2.png") no-repeat;
  margin-bottom: 5px;
  margin-left: 4px;
}
footer .footer-info div .social-media a:not(.svg-sprite).facebook-logo {
  background-position: -111px -38px;
}
footer .footer-info div .social-media a:not(.svg-sprite).twitter-logo {
  background-position: -76px -38px;
}
footer .footer-info div .social-media a:not(.svg-sprite).tumblr-logo {
  background-position: -39px -73px;
}
footer .footer-info div .social-media a:not(.svg-sprite).kik-logo {
  background-position: -2px -39px;
}
footer .footer-info div .social-media a:not(.svg-sprite).youtube-logo {
  background-position: -40px -111px;
}
footer .footer-info div .social-media a:not(.svg-sprite).whatsapp-logo {
  background-position: -4px -111px;
}
footer .footer-info div .social-media a:not(.svg-sprite).snapchat-logo {
  background-position: -4px -147px;
}
footer .footer-info div .social-media a:not(.svg-sprite).digg {
  background-position: -147px -111px;
}
footer .footer-info div .social-media a:not(.svg-sprite).behance {
  background-position: -147px -75px;
}
footer .footer-info div .social-media a:not(.svg-sprite).reddit-logo {
  background-position: -112px -3px;
}
footer .footer-info div .social-media a:not(.svg-sprite).invision {
  background-position: -148px -40px;
}
footer .footer-info div .social-media a:not(.svg-sprite).periscope {
  background-position: -4px -3px;
}
footer .footer-info div .social-media a:not(.svg-sprite).groupeme {
  background-position: -39px -4px;
}
footer .footer-info div .social-media a:not(.svg-sprite).viber-logo {
  background-position: -75px -110px;
}
footer .footer-info div .social-media a:not(.svg-sprite).instagram-logo {
  background-position: -112px -75px;
}
footer .footer-info div .social-media a:not(.svg-sprite).blogger {
  background-position: -112px -111px;
}
footer .footer-info div .social-media a:not(.svg-sprite).picasa {
  background-position: -40px -39px;
}
footer .footer-info div .social-media a:not(.svg-sprite).rss {
  background-position: -76px -2px;
}
footer .footer-info div .social-media a:not(.svg-sprite).vimeo {
  background-position: -148px -3px;
}
footer .footer-info div .social-media a:not(.svg-sprite).pinterest {
  background-position: -3px -74px;
}
footer .footer-info div .social-media a:not(.svg-sprite).email {
  background-position: -76px -72px;
}
footer .footer-info div .social-media a:hover {
  opacity: 0.9;
  box-shadow: 0 0 3px 0 #323232;
}

.s1-2 {
  width: 100%;
  background: #4c4c4c url("../images/bg2.jpg") top center;
  height: 153px;
  background-size: cover;
}
.s1-2 .inner2 {
  margin: 0 auto;
  height: 300px;
  max-width: 1020px;
}
.s1-2 .inner2 .slider2 {
  background: url("../images/slider-12.jpg");
  background-size: cover;
  max-width: 1020px;
  height: 153px;
  margin: 0 auto;
  padding-top: 120px;
}
.s1-2 .inner2 .slider2 .inner1 {
  max-width: 940px;
  height: 130px;
  background: #282b2e;
  margin: 0 auto;
  color: white;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s1-2 .inner2 .slider2 .inner1 h2 {
  font: 700 24px "Bitter", serif;
  padding: 0 0 12px 0;
  margin: 0;
  line-height: 22px;
}
.s1-2 .inner2 .slider2 .inner1 h5 {
  font: 600 14px "Bitter", serif;
  padding: 0;
  margin: 0;
}

.section6 {
  max-width: 940px;
  height: fit-content;
  position: relative;
  margin: 0 auto -42px;
  padding-top: 30px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  box-sizing: border-box;
  background: #fff;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.section6 ul.pagination li {
  height: 20px;
  margin-bottom: 20px;
}
.section6 ul.pagination a.page-link {
  border: 0;
  padding-bottom: 0;
  color: #282b2e;
  font-weight: bold;
  vertical-align: middle;
  font-size: 20px;
}
.section6 ul.pagination a.page-link:hover {
  color: #ea5a4b;
}
.section6 ul.pagination a.page-link span {
  font-size: 20px;
  font-weight: bold;
  line-height: 70%;
}
.section6 .s4 {
  max-width: 100%;
  height: fit-content;
  margin: -10px auto 0;
  background: #fff;
  color: #282b2e;
}
.section6 .s4 time {
  font: 400 12px "HelveticaNeueCyr-Light";
  color: #ea5a4b;
  padding: 6px 0 16px;
  display: block;
}
.section6 .s4 span {
  display: block;
  font: 400 14px "HelveticaNeueCyr-Light";
  padding-top: 6px;
}
.section6 .s4 span + p {
  font: 400 12px "HelveticaNeueCyr-Light";
  color: #ea5a4b;
  padding: 6px 0;
}
.section6 .s4 p {
  font: 400 14px "HelveticaNeueCyr-Light";
  line-height: 18px;
  padding-bottom: 8px;
}
.section6 .s4 .aside {
  height: 100%;
  padding: 40px 24px 12px 6px;
}
.section6 .s4 .aside .links a {
  display: block;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #737373;
  font: 400 13px "HelveticaNeueCyr-Medium";
  color: #282b2e;
  padding: 14px 0 14px;
}
.section6 .s4 .aside .links a:last-of-type {
  border: none;
}
.section6 .s4 .aside .links a:first-of-type {
  padding-top: 0;
}
.section6 .s4 .aside .links a:hover {
  color: #ea5a4b;
}
.section6 .s4 .aside aside {
  margin-bottom: 20px;
}
.section6 .s4 .aside aside h5 {
  border-bottom: 4px solid #ea5a4b;
  font: 600 16px "Bitter", serif;
  margin-bottom: 20px;
  line-height: 36px;
}
.section6 .s4 .aside aside .advertisements {
  height: 100px;
  width: 100px;
  display: inline-block;
  background: #e8e8e8;
  position: relative;
  overflow: hidden;
}
.section6 .s4 .aside aside .advertisements p {
  position: absolute;
  height: 100%;
  font: 800 14px "Bitter", serif;
  background: rgba(182, 182, 182, 0.7);
  padding: 12px;
  color: #ea5a4b;
}
.section6 .s4 .aside aside .advertisements img {
  height: 100%;
  background-size: cover;
}
.section6 .s4 .aside aside .advertisements .overlay {
  position: absolute;
  background: rgba(24, 24, 24, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  text-decoration: none;
  color: white;
  line-height: 20;
}
.section6 .s4 .aside aside .advertisements .overlay h4 {
  font: 700 14px "Bitter", serif;
  padding: 12px;
}
.section6 .s4 .aside aside .advertisements:hover a {
  display: block;
}
.section6 .s4 .aside aside .advertisements:hover p {
  display: none;
}
.section6 .s4 .col-9 {
  padding: 6px 20px;
}
.section6 .s4 .col-9 .bottom {
  background: #ea5a4b;
  max-width: 100%;
  margin: 10px 0 36px;
  height: 5px;
}
.section6 .s4 .col-9 article a.continue {
  display: block;
  float: left;
  width: 130px;
  height: 32px;
  border: 1px solid #ea5a4b;
  color: #ea5a4b;
  background: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 14px;
  padding: 6px 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.section6 .s4 .col-9 article a.continue:hover {
  background: #ea5a4b;
  color: white;
}
.section6 .s4 .col-9 article a.continue:active {
  background: #ea8c7f;
}
.section6 .s4 .col-9 article a.continue:focus {
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
}
.section6 .s4 .col-9 article:last-of-type .bottom {
  height: 0;
}
.section6 .s4 .col-9 h4 {
  font: 600 18px "Bitter", serif;
  padding-bottom: 12px;
}
.section6 .s4 .col-9 audio {
  width: 100%;
}
.section6 .s4 .col-9 img {
  width: 100%;
}
.section6 .s4 .col-9 .row {
  margin-top: 20px;
}
.section6 .s4 .col-9 a {
  display: block;
  background: #ffffff;
  padding-bottom: 15px;
}

.up {
  position: fixed;
  color: white;
  text-decoration: none;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(234, 123, 109, 0.5);
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 14px;
}
.up:hover {
  background: #ea5a4b;
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
